# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore development and test files
*.log
*.md
*.env
*.DS_Store

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore any other files or directories you don't want in the image
.git/
.gitignore
.idea/
.vscode/
